<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1024</key>
	<integer>630</integer>
	<key>146</key>
	<integer>90</integer>
	<key>110</key>
	<integer>66</integer>
	<key>66</key>
	<integer>40</integer>
	<key>60</key>
	<integer>40</integer>
	<key>46</key>
	<integer>28</integer>
	<key>40</key>
	<integer>24</integer>
</dict>
</plist>
